res/CMakeLists.txt filter=lfs diff=lfs merge=lfs -text
res/Models filter=lfs diff=lfs merge=lfs -text
res/Shaders filter=lfs diff=lfs merge=lfs -text
res/Textures filter=lfs diff=lfs merge=lfs -text
res/Shaders/Scene/Deferred/lighting.vert filter=lfs diff=lfs merge=lfs -text
res/Shaders/Scene/Deferred/final.vert filter=lfs diff=lfs merge=lfs -text
res/Shaders/Scene/Deferred/gbuffer.vert filter=lfs diff=lfs merge=lfs -text
res/Shaders/Scene/Deferred/lighting.frag filter=lfs diff=lfs merge=lfs -text
res/Shaders/Testing/forward.frag filter=lfs diff=lfs merge=lfs -text
res/Textures/white.png filter=lfs diff=lfs merge=lfs -text
res/Models/Fullscreen.obj filter=lfs diff=lfs merge=lfs -text
res/Shaders/Debug filter=lfs diff=lfs merge=lfs -text
res/Shaders/Debug/showlights.frag filter=lfs diff=lfs merge=lfs -text
res/Shaders/GUI filter=lfs diff=lfs merge=lfs -text
res/Shaders/Debug/showlights.vert filter=lfs diff=lfs merge=lfs -text
res/Shaders/Scene filter=lfs diff=lfs merge=lfs -text
res/Shaders/Testing filter=lfs diff=lfs merge=lfs -text
res/Shaders/Testing/test.vert filter=lfs diff=lfs merge=lfs -text
res/Textures/img.png filter=lfs diff=lfs merge=lfs -text
res/Models/StanfordDragon.obj filter=lfs diff=lfs merge=lfs -text
res/Models/Suzanne.obj filter=lfs diff=lfs merge=lfs -text
res/Shaders/Scene/Deferred filter=lfs diff=lfs merge=lfs -text
res/Shaders/Scene/Deferred/final.frag filter=lfs diff=lfs merge=lfs -text
res/Shaders/Scene/Deferred/gbuffer.frag filter=lfs diff=lfs merge=lfs -text
res/Models/Cube.obj filter=lfs diff=lfs merge=lfs -text
res/Shaders/GUI/gui.frag filter=lfs diff=lfs merge=lfs -text
res/Shaders/GUI/gui.vert filter=lfs diff=lfs merge=lfs -text
res/Shaders/Testing/forward.vert filter=lfs diff=lfs merge=lfs -text
res/Shaders/Testing/test.frag filter=lfs diff=lfs merge=lfs -text
